<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Team Generator</title>
</head>
<body>

	<form method="POST">
		<label for="game" value="Game">Game</label>
		<input type="text" name="game">
		<input type='submit' value='Confirm'>
	</form>

	<p></p>

</body>
</html>